img.mat-img {
  display: inline-block;
  fill: currentColor;
  height: 30px;
  width: 30px;
  overflow: visible;
}

mat-icon {
  overflow: visible;
}

mat-list-item mat-icon img.mat-img,
mat-option mat-icon img.mat-img {
  margin: -4px 0;
}
