img.mat-img {
  display: inline-block;
  fill: currentColor;
  height: 30px;
  width: 30px;
  overflow: visible;
}

mat-icon {
  overflow: visible;
}

table[mat-table] {
  mat-icon {
    width: 32px;
    height: 32px;
    margin: 6px 0;
  }

  b {
    font-weight: var(--mat-table-header-headline-weight, 500);
  }
}

mat-option mat-icon img.mat-img {
  margin: -4px 0;
}
