<mat-form-field class="app-width-100">
  <mat-label>Search item</mat-label>
  <input matInput type="text" placeholder="Type in..." [matAutocomplete]="auto" [formControl]="searchItem">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="itemNameFn">
    @for (item of searchItems(); track item.id) {
    <mat-option [value]="item">
      <mat-icon>
        <img [nwIcon]="item" class="mat-img" loading="lazy">
      </mat-icon>
      {{item.name}}
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
<div class="recipe-selector app-mb-1r app-mt-1r app-width-100 app-height-100">
  @if (!artisan.loading()) {
  @if (artisan.product(); as product) {
  <div class="app-l-flex app-l-flex-row app-mb-1r">
    <mat-form-field class="app-mr-1r">
      <mat-label>I need</mat-label>
      <input matInput type="text" placeholder="Amount..." [formControl]="required">
    </mat-form-field>
    <div class="app-l-flex-spacer-1"></div>
    <button mat-raised-button id="link" class="app-mr-1r" aria-label="Explain craft" (click)="explain(product)">
      <mat-icon class="static">
        <img class="mat-img" src="https://nwdb.info/images/db/item_flag_CanBeCrafted_v2.png" loading="lazy">
      </mat-icon>
      Build
    </button>
    <button mat-raised-button cdkFocusInitial color="primary" (click)="product.optimize()">Optimize</button>
  </div>
  <app-planner [product]="product"></app-planner>
  }
  } @else {
  <mat-progress-bar mode="query"></mat-progress-bar>
  }
</div>
