<mat-dialog-content class="mat-typography">
  <mat-tab-group animationDuration="0">
    @for (section of settings.sections | keyvalue | sort:true:'value':'id'; track section.key) {
    @if (section.value.model(); as model) {
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>
          <img [nwIcon]="section.value" class="mat-img" loading="lazy">
        </mat-icon>
        {{section.value.name}}
      </ng-template>
      <form class="app-l-flex app-l-flex-row app-l-flex-gap-2r app-mt-1r" [formGroup]="section.value.formGroup">
        <fieldset id="{{section.key}}-general">
          @for (control of section.value.controls | keyvalue; track control.key) {
          @if (!control.value.block) {
          <mat-form-field>
            <mat-label>{{control.value.name}}</mat-label>
            <input matInput type="text" [formControlName]="control.key">
          </mat-form-field>
          }
          }
        </fieldset>

        @for (block of model.blocks; track block.id) {
        <fieldset id="{{section.key}}-{{block.id}}" class="app-l-flex app-l-flex-column">
          <div class="app-mt-hr app-mb-1r">{{block.name}}</div>
          <mat-divider></mat-divider>
          @for (control of section.value.controls | keyvalue; track control.key) {
          @if (control.value.block === block.id && control.value.item($any(model)); as item) {
          <mat-checkbox [formControlName]="control.key" [matTooltip]="item.description.replaceAll('\\n', '\n')" matTooltipPosition="after" matTooltipShowDelay="300">
            <span class="app-l-flex app-l-flex-row app-l-align-center">
              <mat-icon>
                <img [nwIcon]="item" class="mat-img" loading="lazy">
              </mat-icon>
              {{item.name}}
            </span>
          </mat-checkbox>
          }
          }
        </fieldset>
        }
      </form>
    </mat-tab>
    }
    }
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="settings.disabled" (click)="save()">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
