@if (data; as data) {
<mat-card>

  <mat-card-header>
    <mat-card-title-group>

      <mat-card-title class="app-l-flex app-l-flex-row">
        @if (data | instance:Composite) {
        <button mat-button id="link" class="app-mr-1r" aria-label="Switch to item" (click)="navigate.emit(data.ref)">
          {{data.name}}
        </button>
        }
        @else {
        <div>{{data.name}}</div>
        }
        <div class="app-l-flex-spacer-1"></div>
        @if (data | instance:Composite) {
        <mat-slide-toggle color="primary" [checked]="data.useCraft()" (change)="data.toggleCraft()" matTooltip="Craft this item" matTooltipPosition="right"></mat-slide-toggle>
        }
      </mat-card-title>

      <mat-card-subtitle class="app-l-flex app-l-flex-row">
        <div class="app-l-flex-spacer-1">
          <b>{{data.requestedVolume()}}</b>
          <span class="action"> x </span>
          @if (data | instance:Composite) {
          <b>{{(data.useCraft() ? data.effectiveValue() : data.marketPrice()) | number:'1.0-3'}}</b>
          }
          @else {
          <b>{{data.marketPrice() | number:'1.0-3'}}</b>
          }
          <span class="action"> = </span>
          @if (data | instance:Composite) {
          <b [class]="data.profitClass()">{{data.cost() | number:'1.0-3'}}</b>
          }
          @else {
          <b>{{data.cost() | number:'1.0-3'}}</b>
          }
        </div>
        @if ((data | instance:Composite) && data.extraItemChance()) {
        <div class="use-bonus" [class.mat-accent]="data.useExtraItems()" matTooltip="Extra item chance" matTooltipPosition="right" (click)="data.toggleExtraItems()">
          +{{data.extraItemChance()! * 100 | number:'1.0'}}%
        </div>
        }
      </mat-card-subtitle>

      <mat-icon>
        <img [nwIcon]="data" class="mat-img" loading="lazy">
      </mat-icon>

    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <div class="app-l-flex app-l-flex-row app-l-justify-between app-l-align-start app-l-flex-gap-1r app-mt-hr">
      <div class="app-l-flex app-l-flex-column app-l-flex-gap-hr labels">
        <div>{{(data | instance:Composite) && data.useCraft() ? 'Make' : 'Buy'}}</div>
        <div [class.active]="!(data | instance:Composite) || !data.useCraft()">Market</div>
        @if (data | instance:Composite) {
        <div [class.active]="data.useCraft()">Crafted</div>
        }
        <div>Cost</div>
        @if (data | instance:Composite) {
        <div>Profit</div>
        }
      </div>
      <div class="app-l-flex app-l-flex-column app-l-align-end app-l-flex-spacer-1 app-l-flex-gap-hr values">
        <div>
          @if (data | instance:Product) {
          <input matInput type="text" [formControl]="required">
          }
          @else{
          <b matTooltip="Required by recipe" matTooltipPosition="above">{{data.requestedVolume()}}</b>
          }
          @if ((data | instance:Composite) && data.effectiveVolume(); as volume) {
          / <b matTooltip="Should craft at station" matTooltipPosition="above">{{volume}}</b>
          }
        </div>
        <div [class.active]="!(data | instance:Composite) || !data.useCraft()"><b>{{data.marketPrice() | number:'1.2-3'}}</b></div>
        @if (data | instance:Composite) {
        <div [class.active]="data.useCraft()"><b>{{data.craftedValue() | number:'1.2-3'}}</b></div>
        }
        <div><b>{{data.cost() | number:'1.2-3'}}</b></div>
        @if (data | instance:Composite) {
        <div [class]="data.profitClass()">{{data.profit() | number:'1.2-3'}}</div>
        }
      </div>
      @if (data | instance:Composite) {
      <table mat-table class="app-pl-1r mat-elevation-z0" [dataSource]="data.ingredients" multiTemplateDataRows>
        <ng-container matColumnDef="header">
          <td mat-cell *matCellDef="let ingredient" [attr.colspan]="columns.length"> {{ingredient.name}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <td mat-cell *matCellDef="let ingredient"> <b>{{ingredient.quantity}}</b> </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <td mat-cell *matCellDef="let ingredient"> x </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <td mat-cell *matCellDef="let ingredient" [class]="ingredient.futureClass()"> <b>{{ingredient.effectiveValue() | number:'1.2-3'}}</b> </td>
        </ng-container>
        <ng-container matColumnDef="sign">
          <td mat-cell *matCellDef="let ingredient"> = </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <td mat-cell *matCellDef="let ingredient" [class]="ingredient.currentClass()"> {{ingredient.total() | number:'1.2-3'}} </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['header']" header></tr>
        <tr mat-row *matRowDef="let ingredient; columns: columns;"></tr>
      </table>
      }
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
}
