:host {
  display: block;

  mat-card-title {
    white-space: nowrap;
    padding-right: 1rem;
  }

  mat-icon {
    overflow: visible;
    width: 32px;
    height: 32px;
    margin: 6px 0;
  }

  button {
    margin: 0 -8px;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
  }

  b {
    font-weight: var(--mat-table-header-headline-weight, 500);
  }
}
